@using System.Collections.Generic;
@model List<Cliente>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<!-- JS UI Tentative  -->
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>

<div class="text-center">
    <p class="font-weight-bold">
    <h1 class="display-6 text-danger">
        Sistema Gerenciador de Cadastros</h1>
    </p>
</div>

<br />

<table id="tabela_id" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Contato</th>
            <th>Tipo</th>
            <th>Número Celular</th>
            <th>Cidade</th>
            <th>Bairro</th>
            <th>Logradouro</th>
            <th>Cadastro</th>
            <th> Atualização</th>
            <th> + </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            @foreach (Cliente item in Model)
            {
                <tr>
                    <td id="ClienteId">@item.ClienteId</td>
                    <td>@item.Cliente1</td>
                    <td>@item.NomeContato</td>
                    <td>@item.TipoCliente</td>
                    <td>@item.TelefoneContato</td>
                    <td>@item.Cidade</td>
                    <td>@item.Bairro</td>
                    <td>@item.Logradouro</td>
                    <td>@item.DataCadastro</td>
                    <td>@item.DataAtualizacao</td>
                    <td>

                        <button id="btnEdit" data-Id=@item.ClienteId>
                            Edit
                        </button>
                        <button id="btnDelete" data-Id=@item.ClienteId>
                            Delete
                        </button>
                    </td>
                </tr>
            }
    </tbody>
</table>

<div id="modal">

</div>

<script>
    $(function () {
        $("#btnEdit").click(function () {
            var id = $(this).attr("data-Id");
            $("#modal").load("/Views/Editar/" + id).attr("title", "Editar cliente").dialog();
        });

        $(".btnDelete").click(function () {
            var codigo = $(this).attr("data-codigo");
            $("#modal").load("/clientes/delete/" + codigo).attr("title", "Excluir cliente").dialog();
        });
    });
</script>

<!--<td>
    <a id="#botaoEditar" href=#modal role="button" data-Id=item.ClienteId rel="modal:open">Editar</a>

    </td>--->

<!--
<div id="modal" class="modal">
    <p>
    <div id="id2">
        <script>
            $('#modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var recipienteId = button.data('Id');
                var modal = $(this);
                modal.find('#id2').val(recipienteId);
            })
        </script>
    </div>

    Olá mundo
    </p>
    <a href="#" rel="modal:close">Close</a>
</div>
-->

@section Scripts {
<script> //manipulação do dom pelo função dataTable (Jquery)
    $(document).ready(function () {
        $('#tabela_id').DataTable(
            {
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Portuguese-Brasil.json'
                }
            }
        );
    });
</script>
}